# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Dependency directories
.npm/
.pnpm/
.cache/

# Editor folders
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
